element.style {
}
#facebook .system-fonts--body div {
    font-family: inherit;
}
.xyamay9 {
    padding-top: 16px;
}
.x1l90r2v {
    padding-bottom: 16px;
}
.x2lah0s {
    flex-shrink: 0;
}
.x1swvt13 {
    padding-left: 16px;
}
.x1pi30zi {
    padding-right: 16px;
}
.x2lah0s.xyamay9.x1pi30zi.x1l90r2v.x1swvt13 {
}

.chocs{
    font-size: 50px;
    color: rgb(250, 151, 3);
}