.table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
}


.facebook{
  flex: 1;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 6px 6px 0px;
  border: 2px solid rgb(177, 170, 170);
  border-radius: 5px;
  width: 170px;
}