body {
    background-image: linear-gradient(rgba(14, 241, 44, 0.555), rgba(59, 56, 195, 0.5)), url('/images/pexels-sohail-nachiti-807598.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional - this will fix the background when scrolling */
  }
  
.topbar{
    position: fixed;
    justify-content: center;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    padding: 20px 20px ;
    background-color: rgba(6, 7, 7, 0.521);
    
}

.home{
    color: rgb(217, 224, 219);
    padding: auto;
}
.about{
    color: rgb(225, 230, 225);
    padding-left: 150px;
}
.contact{
    color: rgb(225, 231, 226);
    padding-left: 150px;
}

.header1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

.grid-container{
    display: grid;
    border: 2px solid transparent; /* Initially transparent */
    

}
.grid-item skills{
  display: grid;
  border: 2px solid transparent; /* Initially transparent */
    
}



.emailicon{
  width: 30px;
}
.phoneicon{
  width: 30px;
}
.locationicon{
  width: 30px;
}

html, body {
  height: 100%;
  margin: 0;
  color: rgb(249, 252, 249);
  font-weight: 500px;
}
  
.profile-section {
  text-align: center;
}
  
.profile-container {
  padding: 20px;
}

.profile-photo {
  width: 150px; /* Adjust as needed */
  height: 200px;
  border: solid 5px;
  border-radius: 50%/* To make the image round */
}

.profile-name {
  margin-top: 10px;
  color: aliceblue;
  font-family:'Courier New', Courier, monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: calc(100% - 200px); /* Adjust the height as per profile photo and name */
  font-family:'Courier New', Courier, monospace;
}

.grid-item {
  padding: 20px;
  border: 2px solid #75e242;
  background-color: #75e24267;
  border-radius: 20px;
  cursor: pointer;
  
}

.grid-item:hover {
  transform: scale(1.5);
}

.shake:hover {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.employment{
  text-align: center;
}

.skills ul,
.experiences {
  list-style: none;
  padding: 0;
  text-align: left;
}
.footer{
  padding-right: 30px;
  display: grid;
  justify-content: center;
  
}

.Lastlink{
color: #e9efe6;
}

.pop {
animation: pop 0.3s ease-in-out;
}

@keyframes pop {
0%, 20%, 50%, 80%, 100% {
  transform: scale(1);
}
40% {
  transform: scale(1.2);
}
60% {
  transform: scale(0.8);
}
}

.vibrate {
animation: vibrate 0.5s ease-in-out;
}

@keyframes vibrate {
0%, 100% {
  transform: translateX(0);
}
20%, 40%, 60%, 80% {
  transform: translateX(-5px);
}
30%, 50%, 70% {
  transform: translateX(5px);
}
}